@model IEnumerable<DotNetCoreSqlDb.Models.Site>

@{
    ViewData["Title"] = "Arkiverade Siter";
    DateTime? localLastUpdatedDate = null;

    if (Model.Any())
    {
        localLastUpdatedDate = TimeZoneInfo.ConvertTimeFromUtc(Model.Max(m => m.LastUpdatedDate), TimeZoneInfo.FindSystemTimeZoneById("W. Europe Standard Time"));
    }
    
    int totalCount = Model.Count();
}

<h1 class="main_h1">Arkiverade Siter</h1>
<span class="lastUpdated">
    - Senast uppdaterad: 
    @(localLastUpdatedDate.HasValue ? localLastUpdatedDate.Value.ToString("d MMMM yyyy HH:mm:ss", new System.Globalization.CultureInfo("sv-SE")) : "Ingen uppdatering tillgänglig")
</span>
<span class="lastUpdated"> - Total antal siter: @totalCount</span>
<br>
<br>

<table class="table" id="myTable">
    <thead>
        <tr>
            <th>Site ID</th>
            <th>@Html.DisplayNameFor(model => model.Ort)</th>
            <th>@Html.DisplayNameFor(model => model.Gatuadress)</th>
            <th>@Html.DisplayNameFor(model => model.SiteTyp)</th>
            <th>@Html.DisplayNameFor(model => model.GammalAdressEfterFlytt)</th>
            <th>@Html.DisplayNameFor(model => model.Leverantör)</th>
            <th>@Html.DisplayNameFor(model => model.Status)</th>
            <th>@Html.DisplayNameFor(model => model.NätverkskapacitetMbps)</th>
            <th>@Html.DisplayNameFor(model => model.KontaktNamn)</th>
            <th>@Html.DisplayNameFor(model => model.Mobilnr)</th>
            <th>@Html.DisplayNameFor(model => model.Epostadress)</th>
            <th>@Html.DisplayNameFor(model => model.WANUplink)</th>
            <th>@Html.DisplayNameFor(model => model.AntalEnheter)</th>
            <th>@Html.DisplayNameFor(model => model.Sitestorlek)</th>
            <th>@Html.DisplayNameFor(model => model.Kommentarer)</th>
            <th>Åtgärder</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.ID)</td>
            <td>@Html.DisplayFor(modelItem => item.Ort)</td>
            <td>@Html.DisplayFor(modelItem => item.Gatuadress)</td>
            <td>@Html.DisplayFor(modelItem => item.SiteTyp)</td>
            <td>@Html.DisplayFor(modelItem => item.GammalAdressEfterFlytt)</td>
            <td>@Html.DisplayFor(modelItem => item.Leverantör)</td>
            <td>@Html.DisplayFor(modelItem => item.Status)</td>
            <td>@Html.DisplayFor(modelItem => item.NätverkskapacitetMbps)</td>
            <td>@Html.DisplayFor(modelItem => item.KontaktNamn)</td>
            <td>@Html.DisplayFor(modelItem => item.Mobilnr)</td>
            <td>@Html.DisplayFor(modelItem => item.Epostadress)</td>
            <td>@Html.DisplayFor(modelItem => item.WANUplink)</td>
            <td>@Html.DisplayFor(modelItem => item.AntalEnheter)</td>
            <td>@Html.DisplayFor(modelItem => item.Sitestorlek)</td>
            <td>@Html.DisplayFor(modelItem => item.Kommentarer)</td>
            <td>
                @if (User.IsInRole("Admin") || User.IsInRole("Editor"))
                {
                    <a asp-action="Restore" asp-route-id="@item.ID" title="Återställ" class="btn btn-primary">Återställ</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
<script>
    $(document).ready(function () {
        $('#myTable').DataTable({
            "paging": true,
            "lengthChange": true,
            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Swedish.json"
            },
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
            "compact": true
        });
    });
</script>

