@model DotNetCoreSqlDb.Models.Site

@{
    ViewData["Title"] = "Ta bort en Site";
}

<h2>Ta bort</h2>

<h4>Är du säker att du vill radera?</h4>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ort)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ort)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gatuadress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gatuadress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SiteTyp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SiteTyp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GammalAdressEfterFlytt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GammalAdressEfterFlytt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Leverantör)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Leverantör)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NätverkskapacitetMbps)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NätverkskapacitetMbps)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NätverkskapacitetGbps)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NätverkskapacitetGbps)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KontaktNamn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KontaktNamn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ISSKontorSite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ISSKontorSite)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mobilnr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mobilnr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Epostadress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Epostadress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WANUplink)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WANUplink)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AntalEnheter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AntalEnheter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sitestorlek)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sitestorlek)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kommentarer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kommentarer)
        </dd>
    </dl>
    <div class="form-group mb-4"></div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Tillbaka</a>
    </form>
</div>
