@model DotNetCoreSqlDb.Models.Site
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Siteinfo";
}

<h2 class="main_h1">Siteinfo</h2>
<br>
<br>

<table class="table table-bordered table-striped" style="width: 50%;">
    <tbody>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Ort)</th>
            <td>@Html.DisplayFor(model => model.Ort)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Gatuadress)</th>
            <td>@Html.DisplayFor(model => model.Gatuadress)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.SiteTyp)</th>
            <td>@Html.DisplayFor(model => model.SiteTyp)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.GammalAdressEfterFlytt)</th>
            <td>@Html.DisplayFor(model => model.GammalAdressEfterFlytt)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Leverantör)</th>
            <td>@Html.DisplayFor(model => model.Leverantör)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Status)</th>
            <td>@Html.DisplayFor(model => model.Status)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.NätverkskapacitetMbps)</th>
            <td>@Html.DisplayFor(model => model.NätverkskapacitetMbps)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.KontaktNamn)</th>
            <td>@Html.DisplayFor(model => model.KontaktNamn)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.ISSKontorSite)</th>
            <td>@Html.DisplayFor(model => model.ISSKontorSite)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Mobilnr)</th>
            <td>@Html.DisplayFor(model => model.Mobilnr)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Epostadress)</th>
            <td>@Html.DisplayFor(model => model.Epostadress)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.WANUplink)</th>
            <td>@Html.DisplayFor(model => model.WANUplink)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.AntalEnheter)</th>
            <td>@Html.DisplayFor(model => model.AntalEnheter)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Sitestorlek)</th>
            <td>@Html.DisplayFor(model => model.Sitestorlek)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Kommentarer)</th>
            <td>@Html.DisplayFor(model => model.Kommentarer)</td>
        </tr>
    </tbody>
</table>

<div>
    @if (User.IsInRole("Admin") || User.IsInRole("Editor"))
    {
        <a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model?.ID">Redigera</a>
    }
    <a asp-action="Index" class="btn btn-primary">Tillbaka</a>
</div>
