@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@model (DotNetCoreSqlDb.Models.Site Site, List<DotNetCoreSqlDb.Models.SiteLog> Logs)

@{
    ViewData["Title"] = "Siteinfo";
}

<h2 class="main_h1">Siteinfo</h2>
<br>
<br>

<table class="table table-bordered table-striped" style="width: 35%;">
    <tbody>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Site.Ort)</th>
            <td>@Html.DisplayFor(model => model.Site.Ort)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Site.Gatuadress)</th>
            <td>@Html.DisplayFor(model => model.Site.Gatuadress)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Site.SiteTyp)</th>
            <td>@Html.DisplayFor(model => model.Site.SiteTyp)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Site.GammalAdressEfterFlytt)</th>
            <td>@Html.DisplayFor(model => model.Site.GammalAdressEfterFlytt)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Site.Leverantör)</th>
            <td>@Html.DisplayFor(model => model.Site.Leverantör)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Site.Status)</th>
            <td>@Html.DisplayFor(model => model.Site.Status)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Site.NätverkskapacitetMbps)</th>
            <td>@Html.DisplayFor(model => model.Site.NätverkskapacitetMbps)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Site.KontaktNamn)</th>
            <td>@Html.DisplayFor(model => model.Site.KontaktNamn)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Site.Mobilnr)</th>
            <td>@Html.DisplayFor(model => model.Site.Mobilnr)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Site.Epostadress)</th>
            <td>@Html.DisplayFor(model => model.Site.Epostadress)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Site.WANUplink)</th>
            <td>@Html.DisplayFor(model => model.Site.WANUplink)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Site.AntalEnheter)</th>
            <td>@Html.DisplayFor(model => model.Site.AntalEnheter)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Site.Sitestorlek)</th>
            <td>@Html.DisplayFor(model => model.Site.Sitestorlek)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Site.Kommentarer)</th>
            <td>@Html.DisplayFor(model => model.Site.Kommentarer)</td>
        </tr>
    </tbody>
</table>

<div>
    @if (User.IsInRole("Admin") || User.IsInRole("Editor"))
    {
        <a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model.Site.ID">Redigera</a>
    }
    <a asp-action="Index" class="btn btn-primary">Tillbaka</a>
</div>
<br>
<h2 class="main_h1">Ändringslogg</h2>
<br>
<br>
<br>
<br>
<table class="table table-bordered table-striped" style="width: 35%;">
    <thead>
        <tr>
            <th>Ändringsdatum</th>
            <th>Egenskap</th>
            <th>Gammalt värde</th>
            <th>Nytt värde</th>
            <th>Ändrat av</th>
        </tr>
    </thead>
    <tbody>
@if (Model.Logs.Any())
        @foreach (var log in Model.Logs)
        {
            <tr>
                <td>@log.ChangeDate</td>
                <td>@log.PropertyName</td>
                <td>@log.OldValue</td>
                <td>@log.NewValue</td>
                <td>@log.UserName</td>
            </tr>
        }
    else
    {
        <tr>
            <td colspan="4">Ingen historik tillgänglig</td>
        </tr>
    }

    </tbody>
</table>
