@model IEnumerable<DotNetCoreSqlDb.Models.Site>

@{
    ViewData["Title"] = "Index";
}

<style>
    /* Styla vänster och höger delar med bakgrundsfärg blå */
    .left-sidebar, .right-sidebar {
        background-color: blue;
        width: 10%;
    }

    /* Styla mittendelen */
    .content {
        width: 80%;
        margin: 0 auto;
    }

    /* Justera marginaler för att ge lite mellanrum */
    .container {
        margin: 20px;
    }
</style>

<div class="container">
    <div class="left-sidebar"></div>
    <div class="content">
        @{
            var localLastUpdatedDate = TimeZoneInfo.ConvertTimeFromUtc(Model.Max(m => m.LastUpdatedDate), TimeZoneInfo.FindSystemTimeZoneById("W. Europe Standard Time"));
        }
        <h2>ISS SE Network MasterSite list  <span class="lastUpdated"> - Senast uppdaterad: @localLastUpdatedDate.ToString("d MMMM yyyy HH:mm:ss", new System.Globalization.CultureInfo("sv-SE")) </span></h2>

        <br>

        <p>
            <a asp-action="Create">Lägg till en ny site</a>
        </p>
        <br>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Ort
                    </th>
                    <th>
                        Gatuadress
                    </th>
                    <!-- ... lägg till de andra kolumnrubrikerna här ... -->
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Ort)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Gatuadress)
                        </td>
                        <!-- ... lägg till de andra tabellcellerna här ... -->
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.ID" title="Edit"><i class="fas fa-edit"></i></a>
                            <a asp-action="Details" asp-route-id="@item.ID" title="Details"><i class="fas fa-info-circle"></i></a>
                            <a asp-action="Delete" asp-route-id="@item.ID" title="Delete"><i class="fas fa-trash-alt"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="right-sidebar"></div>
</div>

<script>
    // Ditt befintliga JavaScript för DataTables
    $(document).ready(function () {
        $('.table').DataTable({
            "paging": true,
            "lengthChange": true,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true
        });
    });
</script>
