@model DotNetCoreSqlDb.Models.IPPlan

@{
    ViewData["Title"] = "Ta bort IP Plan";
}

<h3 class="main_h1">Är du säker på att du vill radera?</h3>

<div style="max-width: 600px;">

<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <tbody>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Nät)</th>
                <td>@Html.DisplayFor(model => model.Nät)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Mask)</th>
                <td>@Html.DisplayFor(model => model.Mask)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.MGMT)</th>
                <td>@Html.DisplayFor(model => model.MGMT)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.WLAN)</th>
                <td>@Html.DisplayFor(model => model.WLAN)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.LAN)</th>
                <td>@Html.DisplayFor(model => model.LAN)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Site)</th>
                <td>@Html.DisplayFor(model => model.Site)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.GammalSite)</th>
                <td>@Html.DisplayFor(model => model.GammalSite)</td>
            </tr>
        </tbody>
    </table>
</div>
</div>

<div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <div class="mt-2">
            <input type="submit" value="Radera" class="btn btn-danger" />
            <a asp-action="Index" class="btn btn-primary ml-2">Tillbaka</a>
        </div>
    </form>
</div>
