@model DotNetCoreSqlDb.Models.IPPlan
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "IP PlannerDet";
}

<h2 class="main_h1">Plan info</h2>

<div style="max-width: 600px;">

<table class="table table-bordered table-striped">
    <tbody>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Nät)</th>
            <td>@Html.DisplayFor(model => model.Nät)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Mask)</th>
            <td>@Html.DisplayFor(model => model.Mask)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.MGMT)</th>
            <td>@Html.DisplayFor(model => model.MGMT)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.WLAN)</th>
            <td>@Html.DisplayFor(model => model.WLAN)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.LAN)</th>
            <td>@Html.DisplayFor(model => model.LAN)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Status)</th>
            <td>@Html.DisplayFor(model => model.Status)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Site)</th>
            <td>@Html.DisplayFor(model => model.Site)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.GammalSite)</th>
            <td>@Html.DisplayFor(model => model.GammalSite)</td>
        </tr>
    </tbody>
</table>
</div>
<div>
@if (User.IsInRole("Admin") || User.IsInRole("Editor"))
{
    <a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model?.ID">Redigera</a>
}
    <a asp-action="Index" class="btn btn-primary">Tillbaka</a>
</div>
