@model IEnumerable<DotNetCoreSqlDb.Models.IPPlan>
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "ISS SE IP Planer";

    int totalRows = Model.Count();
    int antalAnvands = Model.Count(m => m.Status == "Anv채nds");
    int antalLedig = totalRows - antalAnvands;
}

<h1 class="main_h1">IP planer</h1>
<span class="lastUpdated"> - Totalt antal planer: @totalRows</span><span class="lastUpdated"> -  Upptagna: @antalAnvands</span><span class="lastUpdated"> Lediga: @antalLedig</span>
<br>
<br>

@if (User.IsInRole("Admin") || User.IsInRole("Editor"))
{
<p>
    <a asp-action="CreateIPPlan" class="add-new-site-btn">L채gg till</a>
</p>
}
<br>
<table class="table" id="myTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.N채t)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mask)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MGMT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WLAN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LAN)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.PRNT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Site)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GammalSite)
            </th>
         
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        var rowClass = item.Status == "Ledig" ? "ledig-text" : "";
        <tr>
            <td class = "@rowClass">
                @Html.DisplayFor(modelItem => item.N채t)
            </td>
            <td class = "@rowClass">
                @Html.DisplayFor(modelItem => item.Mask)
            </td>
            <td class = "@rowClass">
                @Html.DisplayFor(modelItem => item.MGMT)
            </td>
            <td class = "@rowClass">
                @Html.DisplayFor(modelItem => item.WLAN)
            </td>
            <td class = "@rowClass">
                @Html.DisplayFor(modelItem => item.LAN)
            </td>
            <td class = "@rowClass">
                @Html.DisplayFor(modelItem => item.PRNT)
            </td>
            <td class = "@rowClass">
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td class = "@rowClass">
                @Html.DisplayFor(modelItem => item.Site)
            </td>
            <td class = "@rowClass">
                @Html.DisplayFor(modelItem => item.GammalSite)
            </td>
            
            <td>
                <a asp-action="Details" asp-route-id="@item.ID" title="Details"><i class="fas fa-info-circle"></i></a>
             @if (User.IsInRole("Admin") || User.IsInRole("Editor"))
                {   
                    <a asp-action="Edit" asp-route-id="@item.ID" title="Edit"><i class="fas fa-edit"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.ID" title="Delete"><i class="fas fa-trash-alt"></i></a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
<script>
    $(document).ready(function () {
        var buttons = [];

        @if (User.IsInRole("Admin"))
        {
            @:buttons.push('excel', 'pdf');
        }

        @if (User.IsInRole("Editor"))
        {
            @:buttons.push('excel', 'pdf');
        }
        
        $('#myTable').DataTable({
            "paging": true,
            "lengthChange": true,
            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Swedish.json"
            },
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
            "compact": true,
            "dom": 'lBfrtip',
            "buttons": buttons
        });
    });
</script>