@model IEnumerable<DotNetCoreSqlDb.Models.IPPlan>

@{
    ViewData["Title"] = "IP Planer";
}

<h1>IP Planer</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nät)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mask)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MGMT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WLAN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LAN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Site)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GammalSite)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastUpdatedDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nät)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mask)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MGMT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WLAN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LAN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Site)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GammalSite)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastUpdatedDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
