@model DotNetCoreSqlDb.Models.Etablering

@{
    ViewData["Title"] = "Ta bort";
}

<h3 class="main_h1">Är du säker på att du vill radera?</h3>

<div style="max-width: 600px;">
   
<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <tbody>
                <tr>
                <th>@Html.DisplayNameFor(model => model.KontorSite)</th>
                <td>@Html.DisplayFor(model => model.KontorSite)</td>
                <tr>
                <th>@Html.DisplayNameFor(model => model.AteaKonsult)</th>
                <td>@Html.DisplayFor(model => model.AteaKonsult)</td>
                <tr>
                <th>@Html.DisplayNameFor(model => model.Gatuadress)</th>
                <td>@Html.DisplayFor(model => model.Gatuadress)</td>
                <tr>
                <th>@Html.DisplayNameFor(model => model.ÄrendeNrISS)</th>
                <td>@Html.DisplayFor(model => model.ÄrendeNrISS)</td>
                <tr>
                <th>@Html.DisplayNameFor(model => model.Ort)</th>
                <td>@Html.DisplayFor(model => model.Ort)</td>
                <tr>
                <th>@Html.DisplayNameFor(model => model.ISSKontaktperson)</th>
                <td>@Html.DisplayFor(model => model.ISSKontaktperson)</td>
                <tr>
                <th>@Html.DisplayNameFor(model => model.EpostISSKontaktperson)</th>
                <td>@Html.DisplayFor(model => model.EpostISSKontaktperson)</td>
                <tr>
                <th>@Html.DisplayNameFor(model => model.TelefonISSKontaktperson)</th>
                <td>@Html.DisplayFor(model => model.TelefonISSKontaktperson)</td>
                <tr>
                <th>@Html.DisplayNameFor(model => model.TeliaUppkoppling)</th>
                <td>@Html.DisplayFor(model => model.TeliaUppkoppling)</td>
                <tr>
                <th>@Html.DisplayNameFor(model => model.ÖvrigInfo)</th>
                <td>@Html.DisplayFor(model => model.ÖvrigInfo)</td>
                <tr>
                <th>@Html.DisplayNameFor(model => model.KlartSenast)</th>
                <td>@Html.DisplayFor(model => model.KlartSenast)</td>
                <tr>
                <th>@Html.DisplayNameFor(model => model.Status)</th>
                <td>@Html.DisplayFor(model => model.Status)</td>

        </tbody>
    </table>
</div>
</div>
<div>
    
    <form asp-action="Delete" onsubmit="return confirm('Är du säker på att du vill radera?');">
        <input type="hidden" asp-for="Id" />
        <div class="mt-2">
        <input type="submit" value="Radera" class="btn btn-danger" /> 
        <a asp-action="Index" class="btn btn-primary ml-2">Tillbaka</a>
        </div>
    </form>
</div>