@model DotNetCoreSqlDb.Models.Etablering
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Detaljer pågående etablering";
}

<h2 class="main_h1">Detaljer</h2>

<div style="max-width: 600px;">
    <table class="table table-bordered table-striped">
        <tbody>
            <tr>
            <th>@Html.DisplayNameFor(model => model.KontorSite)</th>
            <td>@Html.DisplayFor(model => model.KontorSite)</td>
            <tr>
            <th>@Html.DisplayNameFor(model => model.AteaKonsult)</th>
            <td>@Html.DisplayFor(model => model.AteaKonsult)</td>
            <tr>
            <th>@Html.DisplayNameFor(model => model.Gatuadress)</th>
            <td>@Html.DisplayFor(model => model.Gatuadress)</td>
            <tr>
            <th>@Html.DisplayNameFor(model => model.ÄrendeNrISS)</th>
            <td>@Html.DisplayFor(model => model.ÄrendeNrISS)</td>
            <tr>
            <th>@Html.DisplayNameFor(model => model.Ort)</th>
            <td>@Html.DisplayFor(model => model.Ort)</td>
            <tr>
            <th>@Html.DisplayNameFor(model => model.ISSKontaktperson)</th>
            <td>@Html.DisplayFor(model => model.ISSKontaktperson)</td>
            <tr>
            <th>@Html.DisplayNameFor(model => model.EpostISSKontaktperson)</th>
            <td>@Html.DisplayFor(model => model.EpostISSKontaktperson)</td>
            <tr>
            <th>@Html.DisplayNameFor(model => model.TelefonISSKontaktperson)</th>
            <td>@Html.DisplayFor(model => model.TelefonISSKontaktperson)</td>
            <tr>
            <th>@Html.DisplayNameFor(model => model.TeliaUppkoppling)</th>
            <td>@Html.DisplayFor(model => model.TeliaUppkoppling)</td>
            <tr>
            <th>@Html.DisplayNameFor(model => model.ÖvrigInfo)</th>
            <td>@Html.DisplayFor(model => model.ÖvrigInfo)</td>
            <tr>
            <th>@Html.DisplayNameFor(model => model.KlartSenast)</th>
            <td>@Html.DisplayFor(model => model.KlartSenast)</td>
            <tr>
            <th>@Html.DisplayNameFor(model => model.Status)</th>
            <td>@Html.DisplayFor(model => model.Status)</td>

        </tbody>
    </table>
</div>

<div>
@if (User.IsInRole("Admin") || User.IsInRole("Editor"))
{
    <a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model?.Id">Redigera</a> 
}
    <a asp-action="Index" class="btn btn-primary">Tillbaka</a>
</div>
