@model DotNetCoreSqlDb.Models.Kassa

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Kassa</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KontorSite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KontorSite)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gatuadress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gatuadress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ÄrendeNrISS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ÄrendeNrISS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ort)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ort)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ISSKontaktperson)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ISSKontaktperson)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EpostISSKontaktperson)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EpostISSKontaktperson)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TelefonISSKontaktperson)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TelefonISSKontaktperson)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KassaTyp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KassaTyp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Uppkopling)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Uppkopling)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Leveraantör)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Leveraantör)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Övrigt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Övrigt)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
