@model DotNetCoreSqlDb.Models.Kassa
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Details";
}

<h2 class="main_h1">Detaljer</h2>

<div style="max-width: 600px;">

    <table class="table table-bordered table-striped">
        <tbody>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Gatuadress)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.Gatuadress)
                    </td>                
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.Status)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Ort)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.Ort)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ISSKontaktperson)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.ISSKontaktperson)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.EpostISSKontaktperson)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.EpostISSKontaktperson)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.TelefonISSKontaktperson)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.TelefonISSKontaktperson)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.KassaTyp)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.KassaTyp)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Uppkopling)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.Uppkopling)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Leveraantör)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.Leveraantör)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Övrigt)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.Övrigt)
                    </td>                
                </tr>
        </tbody>
    </table>
</div>


<div>
@if (User.IsInRole("Admin") || User.IsInRole("Editor"))
{
    <a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model?.Id">Redigera</a>
}
    <a asp-action="Index" class="btn btn-primary">Tillbaka</a>
</div>

