@model DotNetCoreSqlDb.Models.Kassa

@{
    ViewData["Title"] = "Details";
}

<h2 class="main_h1">Detaljer</h2>

<div>

    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gatuadress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gatuadress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ort)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ort)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ISSKontaktperson)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ISSKontaktperson)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EpostISSKontaktperson)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EpostISSKontaktperson)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TelefonISSKontaktperson)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TelefonISSKontaktperson)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KassaTyp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KassaTyp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Uppkopling)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Uppkopling)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Leveraantör)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Leveraantör)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Övrigt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Övrigt)
        </dd>
    </dl>
</div>
<div>
@if (User.IsInRole("Admin") || User.IsInRole("Editor"))
{
    <a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model?.Id">Redigera</a>
}
    <a asp-action="Index" class="btn btn-primary">Tillbaka</a>
</div>

