@model DotNetCoreSqlDb.Models.Skrivare

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Skrivare</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gatuadress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gatuadress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ort)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ort)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShareName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShareName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Port)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Port)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Modell)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Modell)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
