@model DotNetCoreSqlDb.Models.Skrivare
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Details";
}

<h2 class="main_h1">Detaljer</h2>

<div style="max-width: 600px;">
    <table class="table table-bordered table-striped">
        <tbody>
            <tr>
            <th>@Html.DisplayNameFor(model => model.Gatuadress)</th>
            <td>@Html.DisplayFor(model => model.Gatuadress)</td>
            </tr>
            <tr>
            <th>@Html.DisplayNameFor(model => model.Ort)</th>
            <td>@Html.DisplayFor(model => model.Ort)</td>
            </tr>
            <tr>
            <th>@Html.DisplayNameFor(model => model.ShareName)</th>
            <td>@Html.DisplayFor(model => model.ShareName)</td>
            </tr>
            <tr>
            <th>@Html.DisplayNameFor(model => model.Port)</th>
            <td>@Html.DisplayFor(model => model.Port)</td>
            </tr>
            <tr>
            <th>@Html.DisplayNameFor(model => model.Modell)</th>
            <td>@Html.DisplayFor(model => model.Modell)</td>
            </tr>

        </tbody>
    </table>
</div>

<div>
@if (User.IsInRole("Admin") || User.IsInRole("Editor"))
{
    <a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model?.Id">Redigera</a> 
}
    <a asp-action="Index" class="btn btn-primary">Tillbaka</a>
</div>