@model IEnumerable<DotNetCoreSqlDb.Models.Skrivare>
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager


@{
    ViewData["Title"] = "Index";
}

@{
    int totalCount = Model.Count();
}


<h1 class="main_h1">ISS Sverige Skrivare</h1><span class="lastUpdated"> - Total antal skrivare: @totalCount</span>
<br>
<br>
@if (User.IsInRole("Admin") || User.IsInRole("Editor") || User.IsInRole("PrinterAdmin"))
{
<p>
    <a asp-action="Create" class="add-new-site-btn">Lägg till</a>
</p>
}
<br>
<table class="table" id="myTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Gatuadress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ort)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShareName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Port)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modell)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Gatuadress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ort)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShareName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Port)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modell)
            </td>
            <td>
               <a asp-action="Details" asp-route-id="@item.Id" title="Details"><i class="fas fa-info-circle"></i></a>
             @if (User.IsInRole("Admin") || User.IsInRole("Editor") || User.IsInRole("PrinterAdmin"))
                {   
                    <a asp-action="Edit" asp-route-id="@item.Id" title="Edit"><i class="fas fa-edit"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.Id" title="Delete"><i class="fas fa-trash-alt"></i></a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
<script>
    $(document).ready(function () {
        $('#myTable').DataTable({
            "paging": true,
            "lengthChange": true,
            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Swedish.json"
            },
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
            "compact": true
        });
    });
</script>