@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@model IEnumerable<ApplicationUser>

<h2>Användarlista</h2>
<br>

<table class="table table-bordered table-striped" id="myTable">
    <thead>
        <tr class="text-center">
            <th>Användare</th>
            <th>Användarnamn</th>
            <th>Roller</th>
            <th>Ändra roll</th>
            <th>Åtgärder</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var user in Model)
        {
            <tr class="text-center">
                <td>@user.FullName</td>
                <td>@user.UserName</td>
                <td>
                    @if(await UserManager.IsInRoleAsync(user, "Admin"))
                    {
                        <span class="badge bg-success">Admin</span>
                    }
                    else if(await UserManager.IsInRoleAsync(user, "Editor"))
                    {
                        <span class="badge bg-warning">Editor</span>
                    }
                    else
                    {
                        <span class="badge bg-secondary">User</span>
                    }
                </td>
                <td>
                    <form method="post" action="@Url.Action("AssignAdminRole")">
                        <input type="hidden" name="userId" value="@user.Id" />
                        <button type="submit" class="btn btn-primary btn-sm" onclick="return confirm('Är du säker på att du vill tilldela Admin rollen?');" @(await UserManager.IsInRoleAsync(user, "Admin") ? "disabled" : "")>
                            Gör till Admin
                        </button>
                    </form>

                    <form method="post" action="@Url.Action("AssignEditorRole")">
                        <input type="hidden" name="userId" value="@user.Id" />
                        <button type="submit" class="btn btn-warning btn-sm" onclick="return confirm('Är du säker på att du vill tilldela Editor rollen?');" @(await UserManager.IsInRoleAsync(user, "Editor") ? "disabled" : "")>
                            Gör till Editor
                        </button>
                    </form>

                    <form method="post" action="@Url.Action("AssignUserRole")">
                        <input type="hidden" name="userId" value="@user.Id" />
                        <button type="submit" class="btn btn-secondary btn-sm" onclick="return confirm('Är du säker på att du vill tilldela User rollen?');" @(await UserManager.IsInRoleAsync(user, "User") ? "disabled" : "")>
                            Gör till User
                        </button>
                    </form>
                </td>
                <td>
                    <form method="post" action="@Url.Action("DeleteUser", "Admin", new { userId = user.Id })" onsubmit="return confirm('Är du säker på att du vill radera denna användare?');">
                        <button type="submit" class="btn btn-danger btn-sm">Radera</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    $(document).ready(function () {
        $('#myTable').DataTable({
            "paging": true,
            "lengthChange": true,
            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Swedish.json"
            },
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
            "compact": true,
            "columnDefs": [
                { "width": "60%", "targets": "_all" }, 
                { "className": "dt-left", "targets": "_all" } 
            ]
        });
    });
</script>